@charset "UTF-8";


body{
    background-color: lightsalmon;
    font-family: cursive;
    font-size: medium;
}
h1{
    color: gold;
    background-color: coral;
}
h2{
    color: crimson;
}
p{
    color: whitesmoke;
}
